<form accept-charset="UTF-8" action="/robots" class="new_message" id="new_message" method="post">
	<div style="margin:0;padding:0;display:inline"><input name="utf8" type="hidden" value="✓">
		<input name="authenticity_token" type="hidden" value="+OMh+x+vk7VWMWyztio9vHx7hv73K8k1RKJ2fxwqLuM=">
	</div>

	<label for="message_FromUserName">Fromusername</label>
	<input id="message_FromUserName" name="xml[FromUserName]" size="30" type="text">

	<label for="message_FromUserName">ToUserName</label>
	<input id="message_FromUserName" name="xml[ToUserName]" size="30" type="text">

	<label for="message_FromUserName">Content</label>
	<input id="message_FromUserName" name="xml[Content]" size="30" type="text">

	<label for="message_FromUserName">MsgType</label>
	<input id="message_FromUserName" name="xml[MsgType]" size="30" type="text">	

	<input name="commit" type="submit" value="Create Message">
</form>