<div class="navbar">
	<div class="navbar-inner">
		<div class="container">
			<nav>
				<ul class="nav pull-left">
					<li><h4><%= link_to "MothinLab", root_path %></h4></li>
					<li><%= link_to "联系", contact_path %></li>
					<li><%= link_to "关于", about_path %></li>
				</ul>
			</nav>
		</div>
	</div>
</div>